<button type="button" class="btn btn-primary" jxn-on="click"
    jxn-func="{{ test.sayHello(true)|jxnFunc }}" >CLICK ME</button>
<button type="button" class="btn btn-primary" jxn-on="click"
    jxn-func="{{ test.sayHello(false)|jxnFunc }}" >Click Me</button>
