<button type="button" class="btn btn-primary" {{ jxnClick(test.sayHello(true)) }}>CLICK ME</button>
<button type="button" class="btn btn-primary" {{ jxnClick(test.sayHello(false)) }}>Click Me</button>
