<button type="button" class="btn btn-primary" jxn-click="{{ test.sayHello(true)|jxnFunc }}" >CLICK ME</button>
<button type="button" class="btn btn-primary" jxn-click="{{ test.sayHello(false)|jxnFunc }}" >Click Me</button>
